torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
pyttsx3==2.98
blobfile==3.0.0
openai==1.84.0
Wave==0.0.2
PyAudio==0.2.14
PyYAML==6.0.2
pygame==2.6.1
soundfile==0.13.1
pyObjC==11.0
openai-whisper @ git+https://github.com/openai/whisper.git@dd985ac4b90cafeef8712f2998d62c59c3e62d22
